extends layout
block content
  h1 Add Article
  form(method='POST', action='/articles/add')
    #form-group
      label Title:
      input.form-control(name='title', type='text')
    #form-group
      label Author:
      input.form-control(name='author', type='text')
    #form-group
      label Body:
      textarea.form-control(name='body', type='text')
    input.btn.btn-pimary(type='submit')
