extends layout
block content
  h2= article.title
  p by-&nbsp;  
    small= article.author
  br
  p= article.body
  br
  a.btn.btn-default(href='/article/edit/' + article._id) Edit
  a.btn.btn-danger.remove-article(href='#', data-id= article._id) Delete
  



  
